name: CI - House Price Prediction

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # =========================
      # Checkout Repo
      # =========================
      - name: Checkout repository
        uses: actions/checkout@v4

      # =========================
      # Setup Python
      # =========================
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # =========================
      # Install dependencies
      # =========================
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas numpy scikit-learn

      # =========================
      # Run MLflow Project (NO CONDA)
      # =========================
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local
